<div class="container">
    <div class="row">
        <div class="col col-8">
            <h3>question title</h3><br>
            <span class="d-flex text-secondary"> <p>asked</p> <p>views</p></span>
        </div>
        <div class="col col-4">
            <button class="btn btn-info">Ask Question</button>
        </div>
    </div>
    <div>
        <p>
            question description
        </p>
        <p>
            what they want to did
        </p>
        <p>
            tags
        </p>
    </div>
    <div>
        <h5>Related Questions</h5>
        <ul>
            <li>1</li>
            <li>2</li>
        </ul>
    </div>
    <div>
        Your Answer

        <form >
            <textarea name="" id=""  rows="5"></textarea>
            <button class="btn btn-info">Post Your Answer</button>
        </form>
    </div>
</div>
